body {
    background-color: #e5edf0;
    font-family: HelveticaRegular;
}

.edit-row {
    margin: 0;
}


/* HEADER */

.header {
    background-color: #f5f8fa;
    -webkit-box-shadow: 0 0 11px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0 0 11px 0 rgba(50, 50, 50, 0.75);
    box-shadow:         0 0 11px 0 rgba(50, 50, 50, 0.75);
}

.header-row {
    width: 100%;
    flex-wrap: nowrap;
    margin: 0;
}

.header-home {
    margin-left: 4%;
}

.navbar-toggler {
    border: none;
    color: #2AA3EF !important;
    font-size: 0.48rem !important;
    font-weight: 900 !important;
}

.header-icon {
    font-weight: 900 !important;
}

.navbar {
    flex-wrap: nowrap;
    padding: 0;
}

.navbar-toggler {
    border: none;
    color: #2AA3EF !important;
    font-size: 0.48rem !important;
    font-weight: 900 !important;
}

.navigation {
    max-width: 600px;
    width: 100%;
}

.navigation-item {
    text-decoration: none;
    color: #66757f;
    transition: 0.5s all ease-out;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navigation-item:hover {
    text-decoration: none;
    color: #1d2129;
}

.navigation-item__img {
    margin-right: 5px;
}

.navigation-list {
    display: flex;
}

.search__input {
    border: none;
    text-indent: 10px;
    height: 100%;
    width: 85%;
    background-color: inherit;
    font-weight: 700;
    font-size: 13px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    outline: none;
}

.search__input::-webkit-input-placeholder {
    color: #dadee0;
}

.search-block {
    height: 32px;
    background-color: #a3acb2;
    color: #dadee0;
    font-weight: 700;
    font-size: 13px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search__img {
    width: 21px;
    height: 21px;
    margin-right: 5px;
}

.burger-btn {
    padding-left: 0 !important;
}

.burger-btn:focus {
    outline: none;
}

.twit-btn {
    width: auto;
    height: 30px;
    background-color: #4ca2f5;
    border-radius: 15px;
    font-size: 0.8rem;

}

.login-navbar{
    height: 45px;
    display: flex;
}

.logo-center {
    text-align: center;
}

@media (max-width: 370px) {
    .twitter__logo {
        display: none;
    }
}



/* ----MAIN---- */

/* MAIN__PROFILE */

.edit-main {
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 0;
    display: block;
}

.edit-profile-block {
    padding: 0;
    margin: 15px;
    margin-top: 0;
    background-color: #ffffff;
    height: 140px;
}

.edit-profile-block-info {
    padding: 0;
    margin: 15px;
    margin-top: 0;
    background-color: #ffffff;
    min-height: 140px;
    min-width: 250px;
    overflow: visible;
}

.edit-background {
    background-color: #4ca2f5;
    height: 85px;
}

.edit-profile-img {
    width: 60px;
    height: 60px;
    background-color: #4ca2f5;
    border: 3px solid #ffffff;
    border-radius: 15px;
    position: relative;
    top: 55px;
    margin-left: 15px;
    left: 0;
}

.edit-card {
    color: #667785;
    width: 250px;
    border: none;
    background-color: unset;
}

.edit-username {
    padding-left: 85px;
}

.edit-name {
    font-weight: bold;
    color: #000000;
}

.edit-name:hover {
    text-decoration: none;
}


/* MAIN__FORM */

.edit-form {
    background-color: #ffffff;
    padding: 10px;
}

.edit-form-title {
    padding-top: 10px;
    font-size: 28px;
}

.edit-form-second {
    margin-top: 15px;
}

.form-group {
    padding-top: 15px;
}

.edit-names {
    display: inline-block;
    width: 49%;
    flex-wrap: wrap;
}

.edit-form-control {
    border: 0;
    border-bottom: 2px solid #DEE2E6;
    padding: 0;
}

.edit-btn {
    width: auto;
    height: 30px;
    background-color: #4ca2f5;
    border-radius: 0;
    font-size: 0.8rem;
}


@media (max-width: 990px) {
    .edit-form {
        padding: 25px;
    }
}

@media (min-width: 540px) and (max-width: 990px) {
    .edit-card {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
}
