/* HEADER */

.header {
    background-color: #f5f8fa;
    -webkit-box-shadow: 0 0 11px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0 0 11px 0 rgba(50, 50, 50, 0.75);
    box-shadow:         0 0 11px 0 rgba(50, 50, 50, 0.75);
}

.header-row {
    width: 100%;
    flex-wrap: nowrap;
    margin: 0;
}

.header-home {
    margin-left: 4%;
}

.navbar-toggler {
    border: none;
    color: #2AA3EF !important;
    font-size: 0.48rem !important;
    font-weight: 900 !important;
}

.header-icon {
    font-weight: 900 !important;
}

.navbar {
    flex-wrap: nowrap;
    padding: 0;
}

.navbar-toggler {
    border: none;
    color: #2AA3EF !important;
    font-size: 0.48rem !important;
    font-weight: 900 !important;
}

.navigation {
    max-width: 600px;
    width: 100%;
}

.navigation-item {
    text-decoration: none;
    color: #66757f;
    transition: 0.5s all ease-out;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navigation-item:hover {
    text-decoration: none;
    color: #1d2129;
}

.navigation-item__img {
    margin-right: 5px;
}

.navigation-list {
    display: flex;
}

.search__input {
    border: none;
    text-indent: 10px;
    height: 100%;
    width: 85%;
    background-color: inherit;
    font-weight: 700;
    font-size: 13px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    outline: none;
}

.search__input::-webkit-input-placeholder {
    color: #dadee0;
}

.search-block {
    height: 32px;
    background-color: #a3acb2;
    color: #dadee0;
    font-weight: 700;
    font-size: 13px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search__img {
    width: 21px;
    height: 21px;
    margin-right: 5px;
}

.burger-btn {
    padding-left: 0 !important;
}

.burger-btn:focus {
    outline: none;
}

.twit-btn {
    width: auto;
    height: 30px;
    background-color: #4ca2f5;
    border-radius: 15px;
    font-size: 0.8rem;

}

.login-navbar{
    height: 45px;
    display: flex;
}

.logo-center {
    text-align: center;
}

@media (max-width: 370px) {
    .twitter__logo {
        display: none;
    }
}


.login-container {
    width: 70%;
    border: 2px solid #DEE2E6;
    align-items: center;
    margin-top: 15px;
    padding: 0;
    display: block;
}

.login-form {
    background-color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
}

.login-form__title {
    padding-top: 20px;
    font-size: 1.75rem;
}

.login-form-group {
    padding-top: 25px;
}

.login-form-control {
    border: 0;
    border-bottom: 2px solid #DEE2E6;
    padding: 0;
    width: 40%;
}

.login-btn {
    width: 70px;
    height: 30px;
    border-radius: 20px;
    background-color: #4ca2f5;
    margin-bottom: 15px;
}

.login-btn-primary {
    font-size: 0.8rem;
    padding: 1.5px;
}

.login-reference {
    height: 65px;
    background-color: #f5f9fa;
}

.login-reference__text {
    vertical-align: middle;
    padding-left: 10%;
    padding-top: 20px;
}

@media screen and (min-width: 0) and (max-width: 1100px) {
    .login-form-control {
        width: 100%;
    }
}
