.main-page-header {
    background-color: #f5f8fa;
    flex-wrap: wrap;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    margin-bottom: 15px;
    background-color: #f5f8fa;
    flex-wrap: wrap;
}

.main-page-row {
    width: 100%;
    margin: 0;
}

/* HEADER */
.main-page-head {
    margin-left: 5%;
    flex-wrap: nowrap;
}

.main-page-navbar {
    flex-wrap: nowrap;
    padding: 0;
}

.main-page-navbar-toggler {
    border: none;
    color: #2AA3EF!important;
    font-size: 0.48rem!important;
    font-weight: 900!important;
}

.main-page-fa, .main-page-fas {
    font-weight: 900!important;
}

.main-page-navigation {
    max-width: 600px;
    width: 100%;
}

.main-page-navigation-item {
    text-decoration: none;
    color: #66757f;
    transition: 0.5s all ease-out;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.main-page-navigation-item:hover {
    text-decoration: none;
    color: #1d2129;
}

.main-page-navigation-item__img {
    margin-right: 5px;
}

.main-page-navigation-list {
    display: flex;
}

.main-page-search__input {
    border: none;
    text-indent: 10px;
    height: 100%;
    width: 85%;
    background-color: inherit;
    font-weight: 700;
    font-size: 13px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    outline: none;
}

.main-page-search__input::-webkit-input-placeholder {
    color: #dadee0;
}

.main-page-search-block {
    height: 32px;
    background-color: #a3acb2;
    color: #dadee0;
    font-weight: 700;
    font-size: 13px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-page-search__img {
    width: 21px;
    height: 21px;
    margin-right: 5px;
}

.main-page-button {
    padding-left: 0px!important;
}

.main-page-button:focus {
    outline: none;
}

.main-page-btn {
    width: auto;
    height: 30px;
    background-color: #4ca2f5;
    border-radius: 0;
}

.main-page-btn-primary {
    font-size: 0.8rem;
}

.main-page-twit {
    border-radius: 15px;
}

@media (max-width: 990px) {
    .main-page-head {
        padding: 0;
        margin: 0;
    }
}


@media (max-width: 370px) {
    .main-page-twitter__logo {
        display: none;
    }
}



.main-page-profile-block-info {
    padding: 0;
    margin-top: 0;
    background-color: #ffffff;
    height: 200px;
    overflow: visible;
}

.main-page-background {
    background-color: #4ca2f5;
    height: 85px;
}

.main-page-profile-img {
    width: 60px;
    height: 60px;
    background-color: #999;
    border: 3px solid #ffffff;
    border-radius: 50%;
    position: relative;
    top: 55px;
    margin-left: 15px;
    left: 0;
}

.main-page-fa-user{
    position: absolute;
    font-size: 30px;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main-page-card {
    color: #667785;
    width: 250px;
    border: none;
    background-color: unset;
}

.main-page-username {
    padding-left: 85px;
}

.main-page-name {
    font-weight: bold;
    color: #000000 !important;
}

.main-page-info {
    display: flex;
    justify-content: space-around;
    width: 250px;
}

.main-page-a {
    color: #657786;
}

.main-page-a:hover{
    text-decoration: none;
}

.main-page-amount {
    color: #4ca2f5;
    margin-left: 23px;
}
.main-page-tweet-textarea-block{
    padding-top: 40px;
    padding-bottom: 20px;
}

.main-page-tweet-submit-block{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    width: 100%;
    padding-bottom: 15px;
}

.main-page-write-tweet{
    background-color: #E8F5FD;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}
.main-page-textarea{
    height: 40px;
    border: 0;
    border-bottom: 1px solid #999999;
    resize: none;
    background-color: inherit;
    width: 100%;
    overflow: hidden;
    outline: none;
    transition: all 0.4s ease-out;
}

.main-page-textarea:focus{
    border-bottom: 2px solid #6610f2;
}

.main-page-textarea-counter{
    float: right;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.main-page-tweet-send{
    width: 75px;
    height: 35px;
    border-radius: 20px;
    background-color: #DFDFDF;
    color: #9f9f9f;
    cursor: default;
    border: 0;
    outline: none;
    display: block;
}

.main-page-person-card{
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
}

.main-page-tweet-footer{
    display: flex;
}

.main-page-person-info-block{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.main-page-person-img{
    align-self: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.main-page-tweet-time{
    margin-top: 1px;
}

.main-page-card-title{
    font-size: 28px;
}

.main-page-card-link{
    color: #007bff;
}

.main-page-followers-block{
    height: 400px;
    background-color: #ffffff;
    border-radius: 5px;
}

.main-page-view-all{
    font-weight: 400;
    font-size: 12px;
    color: #007bff;
}

.main-page-bold{
    font-weight: bold;
}

.main-page-follow-description{
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-page-follow-person-background{
    width: 40px;
    margin-right: 10px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    background-color: #999999;
}

.main-page-person-icon{
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main-page-follow-person{
    margin-top: 10px;
    border-bottom: 1px solid #999999;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 15px;
}


.main-page-follow-person:last-child{
    border-bottom: 0;
}


.main-page-person-text{
    font-weight: bold;
    color: #010101;
    margin-bottom: 4px;
}

.main-page-person-link{
    font-size: 14px;
    font-weight: 400;
    color: #999999;
}

.main-page-person-button{
    color: #ffffff;
    background-color: #007bff;
    border-radius: 20px;
    border: 0;
    font-size: 14px;
}

.main-page-follow-person-info{
    display: flex;
}

@media (max-width: 991px) {
    .main-page-write-tweet{
        margin-top: 20px;
    }
}
