.index-container {
    margin-top: 90px;
    width: 40%;
    font-weight: bolder;
}

.index-btn-primary:not(:disabled):not(.disabled).active,
.index-btn-primary:not(:disabled):not(.disabled):active,
.index-show>.btn-primary.dropdown-toggle {
    background-color: #4993f4;
    border: none;
}

.index-btn-secondary:not(:disabled):not(.disabled).active,
.index-btn-secondary:not(:disabled):not(.disabled):active,
.index-show>.btn-secondary.dropdown-toggle {
    background-color: #ffffff;
    color: #4993f4;
    border: none;
}

.index-btn {
    border-radius: 20px;
    height: 35px;
    padding: 3px;
}

.index-title {
    margin-top: 10px;
    font-size: 2rem;
    line-height: 100%;
}

.index-text {
    margin-top: 25px;
    margin-bottom: 10px;
}

@media screen and (min-width: 0) and (max-width: 1100px) {
    .index-container {
        width: 80%;
    }
}