a:hover{
    text-decoration: none;
}

.personal-header {
    background-color: #f5f8fa;
    flex-wrap: wrap;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 11px 0px rgba(50, 50, 50, 0.75);
}

.row {
    width: 100%;
    margin: 0;
}

.head {
    margin-left: 5%;
    flex-wrap: nowrap;
}

.navbar {
    flex-wrap: nowrap;
    padding: 0;
}

.navbar-toggler {
    border: none;
    color: #2AA3EF!important;
    font-size: 0.48rem!important;
    font-weight: 900!important;
}

.fa, .fas {
    font-weight: 900!important;
}

.navigation {
    max-width: 600px;
    width: 100%;
}

.navigation-item {
    text-decoration: none;
    color: #66757f;
    transition: 0.5s all ease-out;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navigation-item:hover {
    text-decoration: none;
    color: #1d2129;
}

.navigation-item__img {
    margin-right: 5px;
}

.navigation-list {
    display: flex;
}

.search__input {
    border: none;
    text-indent: 10px;
    height: 100%;
    width: 85%;
    background-color: inherit;
    font-weight: 700;
    font-size: 13px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    outline: none;
}

.search__input::-webkit-input-placeholder {
    color: #dadee0;
}

.search-block {
    height: 32px;
    background-color: #a3acb2;
    color: #dadee0;
    font-weight: 700;
    font-size: 13px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search__img {
    width: 21px;
    height: 21px;
    margin-right: 5px;
}


button:focus {
    outline: none;
}

.personal-header__btn {
    width: auto;
    height: 30px;
    background-color: #4ca2f5;
    border-radius: 0;
    font-size: 0.8rem;
    border-radius: 15px;
}



@media (max-width: 990px) {
    .head {
        padding: 0;
        margin: 0;
    }
}


@media (max-width: 370px) {
    .twitter__logo {
        display: none;
    }
}
.navigation {
    max-width: 600px;
    width: 100%;
}

.personal-background-profile{
    width: 100%;
    height: 200px;
    background-color: #2aa3ef;
}

.personal-menu-block{

    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 11px 0px rgba(50, 50, 50, 0.75);
}

.personal-tab {

    height: 48px;
    padding-top: 5px;
    list-style-type: none;
    padding-right: 5px;
    padding-left: 5px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    line-height: 16px;
    font-size: 14px;
    margin-right: 1.5rem;
    color: #66757f;
    font-weight: 500;
    box-sizing: border-box;
}

.personal-tabs__caption{
    margin: 0;
}

.active.personal-tab {
    color: #2AA3EF;
    border-bottom: 4px solid #007bff;
}


.personal-tabs__caption{
    display: flex;
}

.personal-tabs-number{
    font-weight: bold;
    font-size: 16px;
}

.personal-edit-profile{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.personal-edit{
    padding-right: 10px;
    color: #595959;
}

.personal-tabs__content {
    display: none; /* по умолчанию прячем все блоки */
}
.personal-tabs__content.active {
    display: block; /* по умолчанию показываем нужный блок */
}

.personal-background-avatar{
    margin: 0;
    margin-top: -150px;
    width: 180px;
    height: 180px;
    border: 6px solid #ffffff;
    position: relative;
    background-color: #999999;
    border-radius: 50%;
}

.profile-background-icon{
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
}

.personal-profile-name{
    margin-top: 20px;
    color: #14171A;
    font-size: 20px;
    font-weight: bold;
}

.personal-profile-tag{
    color: #657786;
    margin-bottom: 20px;
    font-size: 14px;
}

.personal-profile-bio{
    color: #14171A;
    font-size: 14px;
}

.personal-info-block{
    padding-left: 15%;
}

.personal-followers-block{
    margin-top: 20px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 5px;
}

.personal-view-all{
    font-weight: 400;
    font-size: 12px;
    color: #007bff;
}



.personal-follow-description{
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.personal-follow-person-background{
    width: 40px;
    margin-right: 10px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    background-color: #999999;
}

.personal-person-icon{
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
}

.personal-follow-person{
    margin-top: 10px;
    border-bottom: 1px solid #999999;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 15px;
}


.personal-follow-person:last-child{
    border-bottom: 0;
}


.personal-person-text{
    font-weight: bold;
    color: #010101;
    margin-bottom: 4px;
}
.personal-person-button{
    color: #ffffff;
    background-color: #007bff;
    border-radius: 20px;
    border: 0;
    font-size: 14px;
}

.personal-follow-person-info{
    display: flex;
}

.personal-write-tweet{
    margin-top: 20px;
    background-color: #E8F5FD;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.personal-textarea{
    height: 40px;
    border: 0;
    border-bottom: 1px solid #999999;
    resize: none;
    background-color: inherit;
    width: 100%;
    overflow: hidden;
    outline: none;
    transition: all 0.4s ease-out;
}
.personal-textarea:focus{
    border-bottom: 2px solid #6610f2;
}

.personal-textarea-counter{
    float: right;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.personal-tweet-send{
    width: 75px;
    height: 35px;
    border-radius: 20px;
    background-color: #DFDFDF;
    color: #9f9f9f;
    cursor: default;
    border: 0;
    outline: none;
    display: block;
}


.personal-tweet-textarea-block{
    padding-top: 40px;
    padding-bottom: 20px;
}



.personal-tweet-submit-block{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    width: 100%;
    padding-bottom: 15px;
}



@media (max-width: 500px) {
    .personal-edit{
        padding-right: 0;
    }
    .personal-person-link{
        font-size: 14px;
        font-weight: 400;
        color: #999999;
    }
}

.personal-following-background{
    background-color: #007bff;
    width: 100%;
    height: 100px;
}


